.fadaloader ul {
	display: block;
	list-style: none;
	padding: 5px;
	margin: 0;
	width: 888px;
	height: auto !important;
}
.fadaloader li {
	width: 890px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #CACACA;
	color: #6D6D6D;
	font-family: "Verdana", Arial;
}
.fadaloader li input {
	width: auto !important;
	height: 30px;
	line-height: 30px;
	border: none;
	background-color: #CACACA;
	color: #6D6D6D;
	font-size: 12pt;
	margin: 0px auto;
}
